<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>

    <!-- bootstrap -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="css/signin-up.css" />
    <script defer src="js/signin.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
          <span class="company__logo"
            ><h2><span class="fa fa-solid fa-book"></span></h2
          ></span>
          <h3 class="company_title">
            Welcome to the Library.<br /><small>Happy Reading!</small>
          </h3>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form">
          <div class="container-fluid">
            <div class="row">
              <h2>Log In</h2>
            </div>
            <div class="row">
              <form method="POST" class="form-group" id="form" action="/add">
                <div class="row">
                  <input
                    type="text"
                    name="username"
                    id="uname"
                    class="form__input"
                    placeholder="Username"
                  />
                  <small class="msg"></small>
                </div>
                <div class="row">
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="form__input"
                    placeholder="Password"
                  />
                  <small class="msg"></small>
                </div>

                <div class="row">
                  <input
                    id="login-btn"
                    type="submit"
                    value="Submit"
                    class="btn"
                  />
                </div>
              </form>
            </div>
            <div class="row">
              <p>
                Don't have an account? <a href="<%= link %> ">Register Here</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
